*.pyc
*.log
node_modules
coverage/
arches_nested_tile_csv_importer/logs
arches_nested_tile_csv_importer/export_deliverables
arches_nested_tile_csv_importer/cantaloupe/*
arches_nested_tile_csv_importer/staticfiles
arches_nested_tile_csv_importer/media/packages
arches_nested_tile_csv_importer/media/build/
arches_nested_tile_csv_importer/uploadedfiles/*
arches_nested_tile_csv_importer/settings_local.py
webpack-stats.json
.vscode/
*.egg-info
.DS_STORE
CACHE
.tsconfig-paths.json
.frontend-configuration-settings.json

# Packaging
build/
dist/
